# where xxx=test|dev|prod
SPRING_PROFILES_ACTIVE=xxx

# Server port
SERVER_PORT=8088

# DB connection
POSTGRES_DB=sbpdb
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Token config
ACCESS_TOKEN_EXPIRATION_MINUTES=10
REFRESH_TOKEN_EXPIRATION_DAYS=3

# Mail
MAIL_FROM=noreply@sandbrick.com.ua
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=587
MAIL_USERNAME=user_id
MAIL_PASSWORD=user_password

# Validation config
APP_VALIDATION_FIRST_NAME_MIN_LENGTH=3
APP_VALIDATION_FIRST_NAME_MAX_LENGTH=255
APP_VALIDATION_LAST_NAME_MIN_LENGTH=3
APP_VALIDATION_LAST_NAME_MAX_LENGTH=255
APP_VALIDATION_PASSWORD_MIN_LENGTH=6
APP_VALIDATION_PASSWORD_MAX_LENGTH=255
APP_VALIDATION_AVATAR_MAX_SIZE=1048576
